
<%= simple_form_for(@trip) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :categories %>
    <%= f.input :amount_of_travellers %>
    <%= f.input :amount_of_children %>
    <%= f.input :pets %>
    <%= f.input :original_trip_id %>

    <%= f.input :main_image, as: :file %>
    <%= f.input :gallery_images, as: :file, input_html: { multiple: true} %>
  </div>

  <%= f.simple_fields_for :stops do |stop| %>
    <div class="form-inputs">
      <%= stop.input :date, html5: true %>
      <%= stop.input :address,
      input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
      %>
      <%= stop.input :description %>
      <%= stop.check_box :_destroy %>
      <%= stop.label :delete %>
    </div>
  <% end %>
  <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
