
<%= simple_form_for(@trip) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :categories, :collection => %w[Culture Shopping Food Nature Leisure Sport]%>
    <%= f.input :amount_of_travellers %>
    <%= f.input :amount_of_children %>
    <%= f.input :pets %>
    <%# <%= f.input :original_trip_id, :as => :hidden %>
    <%= f.input :main_image, as: :file %>
  </div>

  <h4>Your stops</h4>
    <div id="stops">
      <%= f.simple_fields_for :stops do |stop| %>
        <%= render "stop_fields", form: stop %>
      <% end %>
      <%= link_to_add_nested(f, :stops, '#stops', link_classes: 'btn btn-primary') %>
    </div>

  <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
<% end %>
