  <div class="container-sm mb-5">
    <p>
      <strong>Name:</strong>
      <%= @trip.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @trip.description %>
    </p>

    <p>
      <strong>Categorie:</strong>
      <%= @trip.categories %>
    </p>

    <p>
      <strong>Amount of travelers:</strong>
      <%= @trip.amount_of_travellers %>
    </p>
    <% if @trip.main_image %>
      <%= cl_image_tag @trip.main_image.key, height: 300, width: 400, crop: :fill %>
    <% end %>





  </div>
