<div id="<%= dom_id trip %>">
  <p>
    <strong>Name:</strong>
    <%= trip.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trip.description %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= trip.categories %>
  </p>

  <p>
    <strong>Amount of travellers:</strong>
    <%= trip.amount_of_travellers %>
  </p>

  <p>
    <strong>Amount of children:</strong>
    <%= trip.amount_of_children %>
  </p>

  <p>
    <strong>Pets:</strong>
    <%= trip.pets %>
  </p>

  <p>
    <strong>Original trip:</strong>
    <%= trip.original_trip_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= trip.user_id %>
  </p>

</div>
