
    <%#  %>

          <% if user_signed_in? %>
            <% if current_user.favorited?(trip) %>
              <%= button_to toggle_favorite_trip_path(trip), method: :post, class: "icon-heart"  do %>
                <i class="fa-solid fa-heart"></i>
              <% end %>
            <% else %>
              <%= button_to toggle_favorite_trip_path(trip), method: :post, class: "icon-heart" do %>
                <i class="fa-regular fa-heart"></i>
              <% end  %>
            <% end %>

          <% else %>

            <%= link_to user_session_path do %>
              <i class="fa-regular fa-heart"></i>
            <% end %>

          <% end %>

      <%#  %>


  <%= link_to trip_path(trip) do %>

    <div class="card-category">

          <% if  trip.main_image.key.present? %>
            <%= cl_image_tag trip.main_image.key, crop: :fill, class: "card-image" %>
          <% else %>
            <img class="card-image" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg" alt="backup_image">
          <% end %>
    </div>


        <div class="card-description">

          <div class="card-name">
            <%= trip.name %>
          </div>

          <%= link_to user_path(trip.user) do %>
            <div>
              <% if link_to current_user.avatar.key == nil %>
                <%= image_tag "https://res.cloudinary.com/ddxqnyga2/image/upload/v1661437338/001-user_vutg9d.png", class: "card-avatar" %>
              <% else %>
                <%= cl_image_tag trip.user.avatar.key, crop: :fill, class: "card-avatar" %>
              <% end %>
            </div>
          <% end %>
        </div>
  <% end %>
