  <div class="container-sm mb-5">

    <h3 class='d-flex justify-content-start'>
      <strong><%= @trip.name %></strong>
    </h3>
  <div class="d-flex justify-content-between name-heart">
    <p>Created by <a href="<%= user_path(@trip.user) %>"><%= "#{@trip.user.name}" %></a>
    </p>
    <% if user_signed_in? && @user.favorited?(@trip) %>
      <%= button_to "♥", toggle_favorite_trip_path(@trip), method: :post %>
    <% elsif user_signed_in? && @user.favorited?(@trip) == false %>
        <%= button_to "♡", toggle_favorite_trip_path(@trip), method: :post %>
      <% else %>
        <%= button_to "♡", user_session_path %>
    <% end %>
    </div>

    <div class="col-12 cities">
      <%= cl_image_tag @trip.main_image.key, crop: :fill, class: "cities-image" %>
      <p class= "cities-title p-3"><%= @trip.description %></p>
    </div>

    <%# <% if @trip.main_image %>
      <%# <%= cl_image_tag @trip.main_image.key, height: 300, width: 400, crop: :fill %>
    <%# <% end %>

  </div>
