<div class="container">
  <h1>Copying this trip</h1>
  <%= simple_form_for(@tripcopy) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name, placeholder:"Name your trip", required: false %>
      <%= f.input :description, placeholder:"Write a short overview of your trip: how to get around, tips or tricks", required: false %>
      <%= f.input :categories, label: "Category", :collection => ["Select a category", "Culture", "Shopping", "Food", "Nature", "Leisure", "Sport"],  placeholder:"Select one category", required: false %>
      <%= f.input :amount_of_travellers, required: false %>
      <%= f.input :amount_of_children, required: false %>
      <%= f.input :pets, label: "Bringing any furry friends along?", as: :radio_buttons, collection:['No', 'Yes'], selected:'No'%>
      <%= f.input :original_trip_id, :as => :hidden %>
      <% if @tripcopy.main_image %>
        <%= cl_image_tag @tripcopy.main_image.key, class: "cities-image", crop: :fill %>
      <% end %>
      <%= f.input :original_image_url, :as => :hidden, input_html: { value: @tripcopy.main_image.blob.url } %>
<%= f.input :main_image, as: :file, required: false, label: "Select a photo" %>
      <%# <%= f.input :gallery_images, as: :file, input_html: { multiple: true} %>
    </div>

    <div id="stops">
    <% i = 1 %>
      <%= f.simple_fields_for :stops do |stop| %>
        <h2>Day <%= i%></h2>
        <%= render "stop_fields", form: stop %>
        <% i += 1 %>
      <% end %>
      <%= link_to_add_nested(f, :stops, '#stops', link_classes: 'btn btn-primary') %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
<% end %>
