<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Trips</h1>

  <%= form_with url: trips_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a trip"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

  <div id="trips">
    <%# <% @trips.each do |trip| %>
      <%= render 'trips'%>
    <%# <% end %>
  </div>

</div>
