<div class="container">
  <div class="container"><%= render "trips/searchform_trips" %></div>
  <p style="color: green"><%= notice %></p>
  <div class="d-flex align-items-center">
    <% if params[:query].present? %>
      <h1 style="margin-bottom: 0; margin-right: 8px;">Trips to <%= params[:query] %></h1>
       <p>(<%= @trips.count %>)</p>
    <% else %>
      <h1>Trips for you</h1>
    <% end %>
  </div>
  <div id="trips" class="cards">
    <% @trips.each do |trip| %>
      <div class="card-envolve">
        <%= render 'trip_card', trip: trip %>
      </div>
    <% end %>
  </div>
</div>
