<p style="color: green"><%= notice %></p>
<h1>Your Trip</h1>
<%= render 'trip' %>

<h4>Your Stops</h4>
<%= render 'stops/stop' %>
<%# <%= link_to "Edit this stop", edit_stop_path(stop) %>

<div>
  <%= link_to "Edit this trip", edit_trip_path(@trip) %> |
  <%= link_to "Back to trips", trips_path %>
  <%= button_to "Destroy this trip", @trip, method: :delete %>



  <div style="width: 80%; height: 350px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
