<div class="container-sm mb-5">
<p style="color: green"><%= notice %></p>

    <h3 class='d-flex justify-content-start'></h3>
        <%= render 'trip' %>
        <%= render 'stops/stop' %>
        <%# <%= link_to "Edit this stop", edit_stop_path(stop) %>

      <%= link_to "Edit this trip", edit_trip_path(@trip) %> |
      <%= link_to "Back to trips", trips_path %>
      <%= link_to "Copy this trip",  copy_trip_path %>
      <%= button_to "Destroy this trip", @trip, method: :delete %>
      <% if user_signed_in? && @user.favorited?(@trip) %>
        <%= button_to "unlike", toggle_favorite_trip_path(@trip), method: :post %>
      <% elsif user_signed_in? && @user.favorited?(@trip) == false %>
          <%= button_to "like", toggle_favorite_trip_path(@trip), method: :post %>
        <% else %>
          <%= button_to "like", user_session_path %>
        <% end %>
  </div>
</div>
