<div class="container">
  <p style="color: green"><%= notice %></p>
    <h3 class='d-flex justify-content-start'></h3>
      <%= render 'trip' %>
      <%= render 'stops/stop' %>
      <%# <%= link_to "Edit this stop", edit_stop_path(stop) %>
<div class="trips-links container">
<% if user_signed_in? %>
  <a href="<%= user_path(current_user) %>"><i class="far fa-user pr-2" aria-hidden="true"></i></a>
  <% end %>
  <a href="<%= copy_trip_path %>"><i class="fa-regular fa-copy"></i></a>
  <a href="<%= edit_trip_path(@trip) %>"><i class="fa-regular fa-pen-to-square"></i></a>
  <% if user_signed_in? %>
   <%= link_to trip_path(@trip), method: :delete, remote: true do %>
  <i class="fa-regular fa-trash-can"></i>
    <% end %>
  <% end %>
</div>




</div>
