<div class="container">
  <p style="color: green"><%= notice %></p>
    <h3 class='d-flex justify-content-start'></h3>

  <div class="card-category">
    <% if user_signed_in? %>
      <% if current_user.favorited?(@trip) %>
        <%= button_to toggle_favorite_trip_path(@trip), method: :post, class: "icon-heart"  do %>
          <i class="fa-solid fa-heart"></i>
      <% end %>
      <% else %>
        <%= button_to toggle_favorite_trip_path(@trip), method: :post, class: "icon-heart" do %>
        <i class="fa-regular fa-heart"></i>
      <% end  %>
    <% end %>

    <% else %>
      <%= link_to user_session_path do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
    <% end %>

    <% if  @trip.main_image.key.present? %>
      <%= cl_image_tag @trip.main_image.key, crop: :fill, class: "show-image" %>
    <% else %>
      <img class="show-image" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg" alt="backup_image">
    <% end %>
    <div class="tripuser">
    <%= image_tag @trip.user.avatar %>
      <%= @trip.user.name %>
    </div>
  </div>

<div class="mt-3">
  <h1><%= @trip.name %></h1>

  <div class="trip-details rounded">
    <%= @trip.categories %>
    <%= @trip.amount_of_travellers %>
    <%= @trip.amount_of_children %>
    <%= @trip.pets %>

  </div>



</div>






      <%= render 'stops/stop' %>
      <%= render 'reviews/review' %>

  <h2><%= pluralize @trip.reviews.count,'Review'%></h2>
  <div class="container">
    <% @reviews.each do |review| %>
      <h2><%= review.content %></h2>
      <h2><%= review.user.name %></h2>
    <% end %>
  </div>

  <div class="trips-links container">
    <a href="whatsapp://send?text=<%= request.original_url %>" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>

    <% if user_signed_in? %>
      <a href="<%= copy_trip_path(@trip) %>"><i class="fa-regular fa-copy"></i></a>
    <% else %>
      <a href="<%= new_user_session_path %>"><i class="fa-regular fa-copy"></i></a>
    <% end %>

    <% if user_signed_in? && current_user == @trip.user %>
      <a href="<%= edit_trip_path(@trip) %>"><i class="fa-regular fa-pen-to-square"></i></a>
    <% end %>

    <% if user_signed_in? && current_user == @trip.user %>
      <%= button_to trip_path(@trip), class: "delete_stop", method: :delete do %>
        <i class="fa-regular fa-trash-can"></i>
      <% end %>
    <% end %>
  </div>
</div>
