<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>My favorites</h1>

  <div>

  <% @favorite_trips.flatten.each do |trip| %>
    <p>NAME: <%= trip.name %></p>
    <p>DESCRIPTION:<%= trip.description %></p>
    <%= link_to "more", trip_path(trip) %>
    <%= button_to "unfavorite", toggle_favorite_trip_path(trip), method: :post %>

  <% end %>



</div>
