<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>My favorites</h1>

  <div>

  <% @favorite_trips.flatten.each do |trip| %>
    <p>NAME: <%= trip.name %></p>
    <p>DESCRIPTION:<%= trip.description %></p>
    <%= link_to "more", trip_path(trip) %>
  <% end %>
<p>User:<%= @user %> mit ID: <%= @user.id %></p>
<P>
<% @favorites.each do |faves| %>
<%= faves.favoritor_id %>
<% end %>
</P>
<P>CURRENT USER:
<%= current_user.id %>
</P>


</div>
