<div class="container-sm mb-5">
  <h5 class='d-flex justify-content-start'>
        <strong>Itinerary</strong>
  </h5>

  <% @stops.keys.sort.each do |day| %>

      <div class="card bg-light mb-3 col-12">
        <div class="card-header"><%= l day %></div>
          <% @stops[day].each do |stop| %>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> <%= stop.address %></li>
              <li class="list-group-item"> <%= stop.description %></li>
            </ul>
          </div>
          <% end %>
      </div>
  <% end %>

    <div style="height: 350px; col-12"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
