<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/ddxqnyga2/image/upload/v1662040472/Paris_hyevpy.jpg" class="d-block w-100" alt="Paris">
      <p class="carousel-title">Romantic Weekend in Paris</p>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/ddxqnyga2/image/upload/v1662040538/henrique-ferreira-6v-K4PpCHVw-unsplash_ookns1.jpg" class="d-block w-100" alt="Zurich">
      <p class="carousel-title">Explore The Heart of Europe</p>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/ddxqnyga2/image/upload/v1662040576/charles-postiaux-Q6UehpkBSnQ-unsplash_svxgej.jpg" class="d-block w-100" alt="London">
      <p class="carousel-title">Bachelorette in London</p>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container"><%= render "trips/searchform" %></div>

<div class="container">
<h2>Explore cities</h2>
<p>Check out the most popular cities!</p>
  <div class="row explore-cities">
    <div class="col-4 cities">
    <a href="<%= trips_path(query: "London") %>">
      <%= image_tag src="https://res.cloudinary.com/ddxqnyga2/image/upload/v1662040576/charles-postiaux-Q6UehpkBSnQ-unsplash_svxgej.jpg", alt: "London", class: "cities-image" %>
      <p class= "cities-title">London</p>
    </a>
    </div>
    <div class="col-4 cities">
    <a href="<%= trips_path(query: "Zurich") %>">
      <%= image_tag src="https://res.cloudinary.com/ddxqnyga2/image/upload/v1662040538/henrique-ferreira-6v-K4PpCHVw-unsplash_ookns1.jpg", alt: "London", class: "cities-image" %>
      <p class= "cities-title">Zurich</p>
      </a>
    </div>
    <div class="col-4 cities">
    <a href="<%= trips_path(query: "Paris") %>">
      <%= image_tag src="https://res.cloudinary.com/ddxqnyga2/image/upload/v1662040472/Paris_hyevpy.jpg", alt: "London", class: "cities-image" %>
      <p class= "cities-title">Paris</p>
      </a>
    </div>
</div>
</div>

<div class="container">
<h2>Featured Guides from Users</h2>
<p>Check out what other travellers are doing:</p>
<div id="trips" class="cards">
    <% @trips.each do |trip| %>
      <div class="card-envolve">
        <%= render 'trips/trip_card', trip: trip %>
      </div>
    <% end %>
  </div>


</div>

<div class="container">
  <h2>Your Trips</h2>
  <%= link_to "Start planning", new_trip_path, class: "btn btn-primary"  %>
</div>
