<!DOCTYPE html>
<html>
  <head>
    <title>Tripplanner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:image" content="https://res.cloudinary.com/ddxqnyga2/image/upload/v1662456008/Tripplanner-Logo-SQUARE_pjp8hr.jpg" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- app/views/layouts/application.html.erb -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
  </head>

  <body>
  <%= render "shared/navbar" %>
<%= render "shared/flashes" %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>


    <%# Navbar Fixed on Bottom %>

        <nav class="navbar fixed-bottom">
        <div id= "icon-navbar-bottom" class="container-fluid">

          <%# Home  %>
            <li class="nav-item active">
              <a href="<%= root_path %>"><i class="fa-solid fa-house-chimney"></i></a>
            </li>


          <%# User %>
          <% user_checked_path = user_signed_in? ? user_path(current_user) : new_user_session_path   %>
            <li class="nav-item">
              <a href="<%= user_checked_path  %>"><i class="fa-solid fa-user"></i></a>
            </li>



          <%# Favorites %>
          <% favorites_checked_path = user_signed_in? ? user_favorites_path(current_user) : new_user_session_path   %>
            <li class="nav-item">
              <a href="<%= favorites_checked_path %>"><i class="fa-solid fa-heart"></i></a>
            </li>




          <%# Add New Trip %>
          <% new_trip_checked_path = user_signed_in? ? new_trip_path : new_user_session_path   %>
            <li class="nav-item">
              <a href="<%= new_trip_checked_path %>"><i class="fa-solid fa-circle-plus"></i></a>
            </li>

        </div>
    </nav>
  </body>
</html>
